RewriteEngine On

############################################################
# Set main directory to index.html                         #
#                                                          #
    DirectoryIndex index.html
#                                                          #
############################################################

############################################################
# Make .htaccess and indexing forbidden                    #
#                                                          #
    <Files .htaccess>
    order allow,deny
    deny from all
    </Files>
    Options All -Indexes
#                                                          #
############################################################

############################################################
# Reserve static directory for static web use              #
#                                                          #
    RewriteRule ^static/ - [L]
#                                                          #
############################################################

############################################################
# DYNAMIC WEB IMPLEMENTATION - Take all / to index.html    #
# and the router will work on directories                  #
#                                                          #
    RewriteRule ([0-9a-zA-Z_-]+) index.html [NC,L]
#                                                          #
############################################################