DirectoryIndex index.html

<Files .htaccess>
order allow,deny
deny from all
</Files>

RewriteEngine On

RewriteRule ^static/ - [L]

RewriteRule ([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+) index.html?p1=$1&p2=$2&p3=$3&p4=$4 [NC,L]

RewriteRule ([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+) index.html?p1=$1&p2=$2&p3=$3 [NC,L]

RewriteRule ([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+) index.html?p1=$1&p2=$2 [NC,L]

RewriteRule ([0-9a-zA-Z_-]+) index.html?p1=$1 [NC,L]