body {
    overflow: hidden;
}

#app {
    margin-top: 0;
}

#in {
    z-index: 99;
}

#app .getready,
#app .question,
#app .score {
    transition: opacity 0.5s;
}

#app .questioncomponents {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}

#app .question .getready h1 {
    font-size: 35px;
    text-align: center;
}

#app .getready p {
    font-size: 20px;
}

#app .buttons {
    background-color: #126e82;
    /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}

#app .question {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #126e82;
}

#app .getready {
    text-align: center;
    color: #126e82;
}

table.descriptiontable {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
    max-width: 500px;
    margin: 20px 0;
}

table.descriptiontable th {
    padding: 5px 10px;
}

table.descriptiontable tbody td {
    padding: 20px 10px;
    font-size: 20px;
    color: #126e82;
    vertical-align: baseline;
}

table.descriptiontable tbody td li {
    margin-left: 20px;
}

table.descriptiontable thead tr {
    border-bottom: 3px solid #126e82;
}

table.descriptiontable thead th {
    font-size: 20px;
    font-weight: bold;
    color: #126e82;
    text-align: center;
}

table.descriptiontable .right {
    border-left: 3px solid #126e82;
}

#app .question.mobile {
    height: auto;
    margin-top: 60px;
}

#app .question p {
    font-size: 25px;
}

#app .question h1 {
    font-size: 50px;
    text-align: right;
}

#app .question hr {
    border: 1px solid #126e82;
    margin: 0 auto 15px auto;
    max-width: 200px;
    width: 100%;
}

#app .question .symbol {
    position: absolute;
    top: 50%;
    right: -30px;
    font-size: 30px;
    font-weight: bold;
    transform: translateY(-50%);
}

#app .question .nums {
    margin: 10px auto;
    position: relative;
    width: fit-content
}

#numberinput input {
    background-color: white;
    color: #126e82;
    font-weight: bold;
    font-size: 50px;
    border: none;
    outline: none;
    max-width: 200px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 65px;
    transition: background-color 0.6s;
}

#numberinput input:not(.started)::-webkit-outer-spin-button,
#numberinput input:not(.started)::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#numberinput input:not(.started) {
    background-color: #126e82;
    /* height: 45px; */
    font-size: 30px;
    -moz-appearance: textfield;
}

#numberinput input::placeholder {
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    vertical-align: middle;
    line-height: 65px;
}

#app .ingameactions {
    display: block;
    margin-top: 15px;
}

#app .ingameactions a i {
    margin-right: 5px;
}

#app .ingameactions a:not(:first-child) {
    margin-left: 18px;
}

#app .score {
    text-align: center;
    opacity: 0;
}

#app .score h1,
#app .score h2 {
    color: #126e82;
}

#app .score .buttonEnd {
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px 32px;
}

#app .score .buttonEnd:first-child {
    margin-top: 30px;
}

#app .colorex {
    color: black;
}

#app .score {
    display: none;
}

#app .score #wholeScore,
#app .score #whatDigits {
    font-size: 30px; 
    margin-bottom: 0;
}

#app .score #percentScore {
    font-size: 80px;
}

#app .score #secondScore {
    font-size: 60px; 
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 60px;
}





#app .showondiv {
    display: none;
}