@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Staatliches&family=Work+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');

body,* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', system-ui;
    touch-action: manipulation;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    max-height: -webkit-fill-available;
    max-height: -moz-available;
}

:root {
    --background: 44,51,51; /* rgba(44,51,51) */
    --neutral: 231,246,242; /* rgba(231,246,242) */
    --accent: 57,91,100; /* rgba(57,91,100) */
    --success: 60,207,78; /* rgba(60,207,78) */
    --failure: 214,28,78; /* rgba(214,28,78) */
}

.mono {
    font-family: 'IBM Plex Mono', monospace;
}

#paintful {
    display: block;  
    min-height: 100%;
    margin-left: 0;
    z-index: 2;
}

#paintful .widthcontroller {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    height: 100vh;
    padding: 40px 40px 0 40px;
}

#app {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(var(--background));
}

.blockelem {
    
}

h1,h2,h3,h4,h5,h6,blockquote,a,button,input[type=submit],th,p,span,ul,ol,td,time {
    color: rgba(var(--neutral));
}

button,input[type=submit] {
    color: rgba(var(--accent));
}

.logo {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*------------------*/

#typer {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.2s;
    z-index: 98;
    opacity: 0;
}

#typer.active {
    display: block;
}

#typer.active.opacity {
    opacity: 1;
}

#typer #typerui {

    display: block;
    margin: 5vw auto;
    width: 95%;
    max-width: 700px;

    background-color: rgba(var(--background));
    border: 2px solid rgba(var(--accent));
    border-bottom: none;
    padding: 20px 0 0 0;

    z-index: 99;
}

#typer .typerholder {
    position: relative;
    padding: 0 20px 20px 20px;
    border-bottom: 2px solid rgba(var(--accent));
}

#typer .typerholder svg.close {
    position: absolute;
    top: 7px;
    right: 20px;
    height: 1.5em;
    cursor: pointer;
}

#typer .typerholder svg.close .main {
    fill: rgba(var(--neutral))
}

#typer #typerinput {
    background-color: rgba(var(--neutral));
    color: rgba(var(--background));
    border-radius: 0;
    border: none;
    padding: 10px 15px;
    width: calc(100% - 35px);
    font-size: 1em;
    outline: none;
    height: 39px;
}

#typer #typercontent {
    max-height: calc(100vh - 15vh - 5vw - 79px);
    overflow-y: auto;
}

#typer #typercontent::-webkit-scrollbar {
    width: 10px;
}

#typer #typercontent::-webkit-scrollbar-track {
    background: rgba(var(--background));
  }

#typer #typercontent::-webkit-scrollbar-thumb {
    background: rgba(var(--neutral),0.5);
}

#typer #typercontent .list,
#typer #typercontent .errlist {
    position: relative;
    color: rgba(var(--neutral));
    padding: 10px 20px;
    border-bottom: 2px solid rgba(var(--accent));
    cursor: pointer;
}

#typer #typercontent .list h1,
#typer #typercontent .errlist h1 {
    font-size: 1.5em;
}

#typer #typercontent #typerlists .list:hover {
    background-color: rgba(var(--neutral),0.1);
}

#typer #typercontent #typerlists .list.active {
    background-color: rgba(var(--accent));
}

#typer #typercontent .list.check {
    padding-right: 40px;
}

#typer #typercontent .list.check svg.checkmark {
    right: 10px;
    height: 1.5em;
}

#typer #typercontent .list.headingimg {
    padding-left: 80px;
}

#typer #typercontent .list.headingimg .svgcontainer {
    width: 50px;
}

#typer #typercontent .list.headingimg .svgcontainer {
    left: 10px;
    
}

#typer #typercontent .list.headingimg svg.content {
    height: 2.5em;
    display: block;
    margin: 0 auto;
}

#typer #typercontent .list.check svg.checkmark .main,
#typer #typercontent .list.headingimg svg.content .main {
    fill: rgba(var(--neutral));
}

#typer #typercontent .list.check svg.checkmark,
#typer #typercontent .list.headingimg .svgcontainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*------------------*/

#topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#topbar>.section>* {
    display: inline-block;
}

#topbar .logo {
    margin-right: 1em;
}

.logo a {
    text-decoration: none;
    color: rgba(var(--neutral));
}

.logo h1.title {
    font-family: 'Staatliches';
    font-size: 1.7em;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.menubar a {
    font-size: 1.7em;
    margin-right: 0.1em;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 2px solid rgba(var(--neutral),0);
    display: inline-flex;
    align-items: center;
    min-height: 34px;
    text-decoration: none;
}

.menubar.nowrap {
    white-space: nowrap;
}

.menubar a .texts {
    display: none;
}

#topbar #titlemenu {
    /* margin-left: -12px; */
}

#chooseoper {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#chooseoper a:not(.opsym) {
    font-family: 'Staatliches';
}

#chooseoper a.opsym.inactive {
    opacity: 0.3;;
}

.menubar a:not(.active) {
    color: rgba(var(--neutral),0.5);
}

.menubar a.active {
    border-bottom: 2px solid rgba(var(--neutral),1);
    border-radius: 5px 5px 0 0;
}

.menubar a:hover:not(.menubar a.inactive) {
    background-color: rgba(var(--neutral));
    color: rgba(var(--accent));
}

.menubar a.active .texts,
.menubar a:hover .texts {
    max-width: 150px;
    margin-left: 10px;
    text-decoration: none;
}

.menubar a.svg>svg {
    width: 0.7em;
    height: 0.7em;
}

.menubar a.svg>svg .main {
    transition: fill 0.3s;
}

.menubar a.svg:not(.active)>svg .main {
    fill: rgba(var(--neutral),0.5);
}

.menubar a.svg.active>svg .main {
    fill: rgba(var(--neutral));
}

.menubar a.svg:hover>svg .main {
    fill: rgba(var(--accent));
}

#topbar .section.right .menubar {
    text-align: end;
}


@media screen and (min-width: 1000px) {
    .menubar a .texts {
        display: inline;
        font-size: 0.7em;
        white-space: nowrap;
        overflow-x: hidden;
        max-width: 0;
        margin-left: 0;
        transition: margin-left 0.5s, max-width 0.3s;
    }
}

/*------------------*/


nav {
    min-height: 100%;
    max-height: 100%;
    display: none;
    position: fixed;
    width: 400px;
    max-width: 90px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    border-right: 2px solid rgba(var(--accent));
    transition: max-width 0.5s, background-color 0.5s, box-shadow 0.5s, border-right 0.5s;
}

nav:hover {
    max-width: 400px;
    background-color: rgba(var(--accent));
}

nav .links.linkstop {
    margin-top: 100px;
}

nav .links .link {
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

nav .links .link .img {
    width: 75px;
    flex-shrink: 0;
    margin-right: 20px;
    padding: 0 25px;
}

nav .links .link svg.img .main {
    fill: rgba(var(--neutral))
}

nav .links .link .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 3px;
}

nav .links .link h2 {
    opacity: 0;
    transition: opacity 0.5s;
}

nav:hover .links .link h2 {
    opacity: 1;
}

nav .links .link h2 {
    width: calc(400px - 190px)
}

/*------------------*/

#game {
    margin-top: 30px;
    opacity: 1;
    transition: opacity 0.25s;
    position: relative;
}

#game.notactive {
    opacity: 0;
}

#game #configbar {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0; */
    margin: 0 auto;
    z-index: 4;
}

#game #configbar .spacer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#game #configbar .config {
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
}

#game #configbar .config.inactive {
    opacity: 0.3;
}

#game #configbar .config .input svg {
    height: 0.8em;
}

#game #configbar .config .input svg .main {
    fill: rgba(var(--neutral))
}

#game #ingame {
    width: 100%;
    max-width: 500px;
    display: block;
    /* position: absolute;
    top: calc(30% + 30px);
    transform: translateY(calc(-30% + 30px));
    left: 0;
    right: 0; */
    margin: 0 auto;
    padding: 50px 0;
    z-index: 3;
}

#game #ingame .onWhenActive {
    opacity: 0;
    transition: opacity 0.25s;
}

#game #ingame .fullWhenActive {
    opacity: 0.3;
    transition: opacity 0.25s;
}

#game #ingame.active .onWhenActive,
#game #ingame.active .fullWhenActive {
    opacity: 1;
}

#game #ingame #ingamestat {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    /* opacity: 0; */
}

#game #ingame .statsvg,
#game #ingame .buttonsvg {
    height: 1.2em;
}

#game #ingame .statsvg .main,
#game #ingame .buttonsvg .main {
    fill: rgba(var(--neutral));
}

#game #ingame .statvalue,
#game #ingame .buttontext {
    font-size: 1.2em;
    margin-left: 8px;
}

#game #ingame .statvalue.mgright {
    margin-right: 8px;
}

#game #ingame .valNextToImg>*,
#game #ingame .actionbutton>* {
    display: inline-block;
}

#game #ingame .valNextToImg,
#game #ingame .actionbutton {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 400px) {
    #game #ingame .statsvg:not(.keepOnSmall) {
        display: none;
    }
    
    #game #ingame .hideOnSmall {
        display: none;
    }
}

#game #ingame #question {
    text-align: center;
}

#game #ingame #question .questionNumber {
    font-size: 2.5em;
    margin: 10px 0;
}

#game #ingame #answer {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(var(--accent));
    color: rgba(var(--neutral));   
    width: 90%;
    max-width: 200px;
    padding: 5px 30px;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 3px solid rgba(var(--neutral));
    cursor: pointer;
}

#game #ingame.active #answer {
    cursor: text;
}

#game #ingame #answer::placeholder {
    color: rgba(var(--neutral));
    opacity: 1;
    transition: opacity 0.25s;
}

#game #ingame.active #answer::placeholder {
    opacity: 0;
}

#game #ingame #ingameactions {
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
